@model DataAccess.DTO.MemberDTO
@{
    ViewData["Title"] = "Login";
}

<h1>Create Product</h1>

@using (Html.BeginForm())   
{  
    @Html.AntiForgeryToken()  
      
    <div class="form-horizontal">   

        <div>  
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })  
            <div>  
                @Html.EditorFor(model => model.Email)  
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })  
            </div>  
        </div>  
  
        <div>  
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })  
            <div>  
                @Html.PasswordFor(model => model.Password)  
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })  
            </div>  
        </div>    
        
        <button type="submit" class="d-block btn btn-primary" style="text-align: center; margin-top: 10px; width: 120px;" value="Create">Login</button>

        @Html.ActionLink("Register new account", "Edit")
    </div> 
}
